<%# <form action="/posts" method = "POST">
    제목 : <input type="text" name="title"> <br>
    내용 : <br>
    <textarea name="content" cols="50" rows="15"></textarea>
    <br> %>
    <!--<input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">-->
    <%# <input type="submit" value="저장">
</form> %>

<%= form_tag "/posts", method: "post", multipart: true do %>
    <%= text_field_tag("post[title]") %> <br>
    <%= text_area_tag("post[content]") %> <br>
    <%= file_field_tag("post[postimage]") %> <br>
    <%= submit_tag %>
<% end %>